<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busca de Emprego</title>
</head>
<body>
    <h1>Emprego</h1>

    <p><a href="{% url 'Emprego_cadastro'%}">Enviar curriculo</a></p>
    
    <p>Enviar Curriculo</p>
    {% for emprego in listar_emprego %}
        <p>{{emprego.identidade}} -{{emprego.especialidade}}|
        <a href="{% url 'emprego_editar' emprego.id %}">EDITAR</a>
        <a href="{% url 'emprego_remover' emprego.id %}">DELETAR</a></p>
    {% empty %}
    <p>Nenhum Emprego cadastrado</p>
    {% endfor %}

</body>
</html>